<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated TallerUno -->
      <package
            uri="http://www.example.org/talleruno"
            class="talleruno.TallerunoPackage"
            genModel="model/talleruno.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated talleruno -->
      <package
            uri="talleruno"
            class="talleruno.TallerunoPackage"
            genModel="model/talleruno.genmodel"/>
   </extension>

</plugin>
